<div class="widgets">

  <div class="row">
    <ba-card baCardClass="with-scroll" class="popular-app smart-table-container">
      <ng2-smart-table *ngIf="loader === 0" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>

      <div *ngIf="loader > 0" style="height: 325px; width: 1012px;">
        <div style="padding-top: 10%; padding-left: 46%;">
          <i class="fa fa-circle-o-notch fa-spin fa-5x" aria-hidden="true"></i>
        </div>
        <div class="loading-message" style="padding-top: 20px; text-align: center;">
          <span *ngIf="loader === 1">{{'tables.profiles.loading' | translate}}</span>
        </div>
      </div>
    </ba-card>
  </div>

</div>