@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

/deep/ .tab-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/deep/ .row {
  margin-left: 0px;
  margin-right: 0px;
}

 /deep/ .card > .card-body {
  padding: 0px;
}
